@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

html{
    overflow-x: hidden;
}

body{
    overflow: hidden;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header{
    height: 100px;
    align-items: center;
    display: grid;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.header .header__container{
    width: 100%;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .header__container .header__content a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.header .header__container .header__content a h1 span{
    color: #2caee2;
}

.header .header__container .header__content .header__menu{
    align-items: center;
    display: flex;
}

.header .header__container .header__content .header__menu ul{
    display: flex;
    list-style: none;
    color: #fff;
}

.header .header__container .header__content .header__menu .header__input{
    display: flex;
    position: relative;
    align-items: center;
}

.header .header__container .header__content .header__menu .header__input input{
    height: 40px;
    font-size: 17px;
    padding: 0 20px;
    outline: none;
    margin-left: 15px;
    border-radius: 30px;
    border: none;
}

.header .header__container .header__content .header__menu .header__input button{
    position: absolute;
    right: 10px;
    border: none;
    background-color: #fff;
}

.header .header__container .header__content .header__menu ul li{
    margin: 0 15px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s all linear;
}

.header .header__container .header__content .header__menu ul li:hover{
    color: #2caee2;
}

.header .header__container .header__content .header__menu ul li:first-child{
    color: #2caee2;
}

.header .header__container .header__content .header__moon i{
    font-size: 25px;
    color: #fff;
}

/* header */

/* banner */
.banner{
    background-image: url(./img/mountains-190055.jpg);
    min-height: 710px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: grid;
    align-items: center;
    text-align: center;
}

.banner::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43, 42, 42, 0.363);
    position: absolute;
    z-index: -1;
}

.banner .banner__container .banner__content .banner__heading h6{
    font-size:15px;
    color: #2caee2;
}

.banner .banner__container .banner__content .banner__heading{
    max-width: 40%;
    margin: 0 auto;
}

.banner .banner__container .banner__content .banner__heading h3{
    font-size: 60px;
    color: #fff;
}

.banner .banner__container .banner__content .banner__heading a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
    transition: all 0.3s linear;
}

.banner .banner__container .banner__content .banner__heading a:hover{
    color: #2caee2;
    background-color: #fff;
}

.banner .pro{
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -17%;
}

.banner .pro .pro__container .pro__content{
    display: flex;
    text-align: initial;
    margin-left: -15px;
    margin-right: -15px;
}

.banner .pro .pro__container .pro__content .pro__item{
    font-size: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.banner .pro .pro__container .pro__content .pro__item .pro__all{
    background-color: #fff;
    padding: 35px;
    border-radius: 12px;
}

.banner .pro .pro__container .pro__content .pro__item .pro__all .pro__icon{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 30px;
    margin-bottom: 20px;
}

.banner .pro .pro__container .pro__content .pro__item .pro__all .pro__icon i{
    height: 70px;
    width: 70px;
    text-align: center;
    line-height: 70px;
    background-color: #e9e8e8ab;
    border-radius: 5px;
    font-size: 20px;
    color: #2caee2;
}


/* pro */

/* about */
.about{
    padding: 48px 0;
}

.about .about__container{
    padding: 48px 0;
}

.about .about__container .about__content{
    margin-top: 48px;
    padding-top: 48px;
    display: flex;
    flex-wrap: wrap;
}

.about .about__container .about__content .about__left{
    flex: 0 0 40%;
    max-width: 40%;
}

.about .about__container .about__content .about__right{
    flex: 0 0 60%;
    max-width: 60%;
}

.about .about__container .about__content .about__left span{
    font-size: 15px;
    font-weight: 600;
    color: #2caee2;
}

.about .about__container .about__content .about__left h3{
    font-size: 35px;
    padding-right: 20px;
}

.about .about__container .about__content .about__right p{
    font-size: 18px;
    color: #858383;
    margin-bottom: 20px;
}

.about .about__container .about__content .about__right a{
    text-decoration: none;
    color: #fff;
    padding: 12px 40px;
    background-color: #2caee2;
    border-radius: 30px;
    font-weight: 600;
    display: inline-block;
}

/* you */
.you{
    background-color: #f4f6f9;
    padding: 48px 0;
}

.you .you__container{
    padding: 48px 0;
}

.you .you__container .you__content{
    display: flex;
    flex-wrap: wrap;
    margin: left -30px;
    margin-right: -30px;
}

.you .you__container .you__content .you__left{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
}

.you .you__container .you__content .you__left span{
    font-size: 15px;
    color: #2caee2;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}

.you .you__container .you__content .you__left .you__item .you__icon{
    display: grid;
    grid-template-columns:  auto 1fr;
    grid-gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    cursor: pointer;
}

.you .you__container .you__content .you__left .you__item .you__icon i{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    color: #2caee2;
    transition: all 0.3s linear;
}

.you .you__container .you__content .you__left .you__item .you__icon:hover i{
    background-color: #2caee2;
    color: #fff;
}

.you .you__container .you__content .you__left .you__item .you__icon .you__text h4{
    font-size: 20px;
}

.you .you__container .you__content .you__left .you__item .you__icon:hover .you__text h4{
    color: #2caee2;
}

.you .you__container .you__content .you__left .you__item .you__icon .you__text p{
    font-size: 17px;
    color: #858383;
}

.you .you__container .you__content .you__left h3{
    font-size: 40px;
    margin-bottom: 40px;
}


.you .you__container .you__content .you__image{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 30px;
}

.you .you__container .you__content .you__image img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.you .you__container .you__content .you__image .img{
    width: 100%;
    height: 620px;
    object-fit: cover;
    object-position: bottom;
}


/* you */


/* our */
.our{
    padding: 48px 0;
}

.our .our__container{
    padding: 48px 0;
}

.our .our__container .our__content .our__top{
    text-align: center;
    margin-bottom: 30px;
}

.our .our__container .our__content .our__top h6{
    font-size: 15px;
    color: #2caee2;
}

.our .our__container .our__content .our__top h3{
    font-size: 40px;
}

.our .our__container .our__content .our__bottom{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.our .our__container .our__content .our__bottom .our__all{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.our .our__container .our__content .our__bottom .our__all .our__item{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    margin-bottom: 30px;
}

.our .our__container .our__content .our__bottom .our__all .our__item i{
    font-size: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #f4f6f9;
    border-radius: 10px;
    color: #2caee2;
}

.our .our__container .our__content .our__bottom .our__all .our__item .our__text h4{
    font-size: 25px;
    cursor: pointer;
    transition:  all 0.3s linear;
}

.our .our__container .our__content .our__bottom .our__all .our__item .our__text:hover h4{
    color: #2caee2;
}

.our .our__container .our__content .our__bottom .our__all .our__item .our__text p{
    font-size: 18px;
    color: #858383;
}
/* our */

/* number */
.number{
    padding: 48px 0;
    background-image: url(./img/sonia-dauer-kqDvRQa0JRI-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

.number::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #00000094;
    z-index: -1;
}

.number .number__container{
    padding: 48px 0;
}

.number .number__container .number__content{
    display: flex;
    flex-wrap: wrap;
}

.number .number__container .number__content .number__item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    color: #fff;
}

.number .number__container .number__content .number__item i{
    font-size: 40px;
    color: #2caee2;
    margin-bottom: 15px;
    transition: all 0.3s linear;
}

.number .number__container .number__content .number__item i:hover{
    transform: translateY(-10px);
}

.number .number__container .number__content .number__item h3{
    font-size: 50px;
}

.number .number__container .number__content .number__item p{
    font-size: 20px;
    font-weight: 600;
}

/* number */

/* blog */
.blog{
    padding: 48px 0;
}

.blog .blog__container{
    padding: 48px 0;
}

.blog .blog__container .blog__content .blog__heading{
    text-align: center;
}

.blog .blog__container .blog__content h6{
    font-size: 16px;
    color: #2caee2;
}

.blog .blog__container .blog__content h3{
    font-size: 40px;
    margin-bottom: 30px;
}

.blog .blog__container .blog__content .blog__item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.blog .blog__container .blog__content .blog__item .blog__all{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.blog .blog__container .blog__content .blog__item .blog__all img{
    display: block;
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.blog .blog__container .blog__content .blog__item .blog__all .img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}


.blog .blog__container .blog__content .blog__item .blog__all .blog__text h5{
    font-size: 15px;
    color: #2caee2;
}

.blog .blog__container .blog__content .blog__item .blog__all .blog__text h4{
    font-size: 20px;
    margin: 15px 0;
}

.blog .blog__container .blog__content .blog__item .blog__all .blog__text .blog__w3{
    display: flex;
}

.blog .blog__container .blog__content .blog__item .blog__all .blog__text .blog__w3 .blog__ill{
    margin-right: 20px;
}

.blog .blog__container .blog__content .blog__item .blog__all .blog__text .blog__w3 .blog__ill i{
    color: #2caee2;
}


/* blog */

/* free */
.free{
    padding: 48px 0;
    background-image: url(./img/aaaa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.free::before{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008f;
    position: absolute;
    z-index: -1;
}

.free .free__container{
    padding: 48px 0px;
}

.free .free__container .free__content{
    display: flex;
    margin-left: -15px;
    flex-wrap: wrap;
}

.free .free__container .free__content .free__left{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}

.free .free__container .free__content .free__left h6{
    font-size: 15px;
    color: #2caee2;
}

.free .free__container .free__content .free__left h3{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.829);
}

.free .free__container .free__content .free__left p{
    font-size: 18px;
    color: #d6d6d6;
    margin: 20px 0;
}

.free .free__container .free__content .free__left a{
    text-decoration: none;
    padding: 10px 40px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    background-color: #2caee2;
    display: inline-block;
    border-radius: 30px;
    margin-top: 20px;
}

.free .free__container .free__content .free__right{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    background-color: #f4f6f9;
    border-radius: 7px;
    padding: 48px;
}

.free .free__container .free__content .free__right .free__all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.free .free__container .free__content .free__right .free__all .right__item input{
    height: 45px;
    width: 100%;
    outline-color: rgba(0, 255, 255, 0.432);
    border: none;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.free .free__container .free__content .free__right .free__ill{
    text-align: right;
}

.free .free__container .free__content .free__right .free__ill button{
    font-size: 16px;
    border: none;
    font-weight: 600;
    color: #fff;
    padding: 20px 70px;
    background-color: #2caee2;
    margin-top: 50px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.free .free__container .free__content .free__right .free__ill button:hover{
    background-color: crimson;
}
/* free */

/* what */
.what{
    padding: 48px 0;
}

.what .what__container{
    padding: 48px 0;
}

.what .what__container .what__content .what__title{
    text-align: center;
}

.what .what__container .what__content .what__title h6{
    font-size: 15px;
    color: #2caee2;
}

.what .what__container .what__content .what__title h3{
    font-size: 40px;
    margin-bottom: 25px;
}


.what .what__container .what__content .what__people{
    display: flex;
    flex-wrap: wrap;
}

.what .what__container .what__content .what__people .what__all{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.what .what__container .what__content .what__people .what__all .what__item .what__text{
    border: 1px solid #e9e9e9;
    padding: 30px;
    border-radius: 7px;
    position: relative;
}

.what .what__container .what__content .what__people .what__all .what__item .what__text::after{
    content: "";
    height: 13px;
    width: 13px;
    display: block;
    border: 1px solid #e9e9e9;
    border-left: none;
    border-top: none;
    display: inline-block;
    position: absolute;
    bottom: -7px;
    transform: rotate(42deg);
    background-color: #fff;
}

.what .what__container .what__content .what__people .what__all .what__item .what__text .what__bottom{
    font-size: 18px;
    color: #858383;
}

.what .what__container .what__content .what__people .what__all .what__item .what__text blockquote p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.what .what__container .what__content .what__people .what__all .what__item .what__text blockquote i{
    font-size: 25px;
    color: #2caee2;
    display: inline-block;
    margin-right: 10px;
    transform: translateY(-10px);
}

.what .what__container .what__content .what__people .what__all .what__item .what__image{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    margin-top:30px;
}

.what .what__container .what__content .what__people .what__all .what__item .what__image img{
    display: block;
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.what .what__container .what__content .what__people .what__all .what__item .what__image .img{
    height: 60px;
    width: 60px;
    object-fit: cover;
    display: block;
    object-position: top;
}

/* what */

/* footer */
.footer{
    background-color: #000;
}

.footer .footer__container{
    padding: 48px 0;
}

.footer .footer__container .footer__content{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
}

.footer .footer__container .footer__content .center{
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
}

.footer .footer__container .footer__content .footer__item a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    display: block;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__item p{
    font-size: 18px;
    color: #858383;
    margin-bottom: 20px;
}

.footer .footer__container .footer__content .footer__item ul{
    font-size: 17px;
    list-style: none;
    padding: 0;
    color: #858383;
}

.footer .footer__container .footer__content .footer__item ul li{
    margin-bottom: 10px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__item ul li:hover{
    color: #2caee2;
}

.footer .footer__container .footer__content .footer__item h6{
    font-size: 25px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__item .footer__input{
    display: block;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__item .footer__input input{
    width: 100%;
    height: 55px;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 0 30px;
    margin-bottom: 20px;
    font-size: 17px;
}

.footer .footer__container .footer__content .footer__item .footer__input button{
    width: 100%;
    height: 55px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 17px;
    font-weight: 600;
    background-color: #2caee2;
    color: #fff;
    transition: all 0.3s linear;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__item .footer__input button:hover{
    background-color: #000;
    border: 2px solid #2caee2;
}

.footer .footer__all{
    border-top: 1px solid rgba(255, 255, 255, 0.151);
}

.footer .footer__all .footer__copyright{
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer__all .footer__copyright p{
    font-size: 18px;
    color: #d6d6d6;

}

.footer .footer__all .footer__copyright p a{
    text-decoration: none;
    font-weight: 700;
    color: #2caee2;
    transition: all 0.3s linear;
}

.footer .footer__all .footer__copyright p a:hover{
    color: #fff;
}

.footer .footer__all .footer__copyright .footer__icon a{
    color: #d6d6d6;
    margin: 0 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;

}

.footer .footer__all .footer__copyright .footer__icon .facebook i:hover{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #2caee2;
}

.footer .footer__all .footer__copyright .footer__icon .twitter i:hover{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #a4b15c;
}

.header .header__container .header__content .header__menus{
    display: none;
}






/* footer */


