.container{
    max-width: 345px;
}

.banner .banner__container .banner__content .banner__heading h3{
    font-size: 34px;
}

.about .about__container .about__content{
    margin: 0;
    padding: 0
}

.about .about__container .about__content .about__left h3{
    font-size: 30px;
    padding: 0;
}   

.you .you__container .you__content .you__left{
    padding: 0;
}

.you .you__container .you__content .you__left h3{
    font-size: 30px;
}

.you .you__container .you__content .you__image{
    padding: 0;
}

.blog .blog__container .blog__content .blog__item .blog__all {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 60px;
}

.what .what__container .what__content .what__people .what__all{
    padding: 0;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__content{
    display: flex;
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .center{
    flex: 0 0 50%;
    max-width: 50%;
    margin: 30px 0;
}

.header .header__container .header__content .header__menu#menu{
    position: fixed;
    transform: translateX(-150%);
    top: 0px;
    left: 0px;
    height:100vh;
    background: #333;
    width: 70%;
    padding: 30px 20px;
    padding-top:100px;
    transition: all 0.3s linear;
    display: block;
}

.header .header__container .header__content .header__menu#menu.active{
    transform: translateX(0%);
}

.header .header__container .header__content .header__menu ul{
    display: block;
}

.header .header__container .header__content .header__menu ul li{
    margin: 20px 0;
}

.header .header__container .header__content .header__menu .header__input{
    display: none;
}