.container{
    max-width: 720px;
}

.header .header__container .header__content .header__menu{
    display: none;
}

.header .header__container .header__content .header__menus{
    display: block;
    color: #fff;
}

.header .header__container .header__content .header__menus i{
    font-size: 20px;
    margin-left: 15px;
}

.header .header__container .header__content .header__menus i:last-child{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    background-color: aqua;
    outline: none;
}

.banner .banner__container .banner__content .banner__heading{
    max-width: 100%;
}

.header .header__container .header__content .header__moon{
    display: none;
}

.banner .pro .pro__container .pro__content{
    display: none;
}

.about .about__container .about__content .about__left{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.about .about__container .about__content .about__right {
    flex: 0 0 100%;
    max-width: 100%;
}

.you .you__container .you__content .you__left{
    flex: 0 0 100%;
    max-width: 100%;
}

.you .you__container .you__content .you__image {
    flex: 0 0 100%;
    max-width: 100%;
}

.our .our__container .our__content .our__bottom .our__all{
    flex: 0 0 100%;
    max-width: 100%;
}

.number .number__container .number__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.number .number__container .number__content .number__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.blog .blog__container .blog__content .blog__item .blog__all{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 60px;
}

.free .free__container .free__content .free__left{
    flex: 0 0 100%;
    max-width: 100%;
}

.free .free__container .free__content .free__right{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 60px;
}

.what .what__container .what__content .what__people .what__all{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__container .footer__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer .footer__container .footer__content .footer__item{
    flex: 0 0 100%;
    max-width: 100%;
}

.footer .footer__all .footer__copyright{
    text-align: center;
    display: block;
}

.free .free__container .free__content{
    margin-left: 0px;
}

.you .you__container .you__content{
    margin-right: 0px;
}